aniso8601
blinker
flask
flask-restful
flask-restplus
flask-oauthlib
httplib2
jwt
markupsafe
oauth2client
pytz
uritemplate
werkzeug
itsdangerous
six
uwsgi
pymongo==2.8
flask-mongoengine
redis
feedparser
celery
eventlet