/* A helper class, because basscss doesn't have an unprefixed version of sm-hide and friends.
Well, it does have a .hide class, but that's used for hiding something visually, and not for screen readers.*/

.all-hide{
    display: none !important;
}

.ReactModal__Overlay {
      background-color: rgba(0, 0, 0, 0.75);
      z-index:1000;
}
.ReactModal__Content {
    position: absolute;
    top: 40px;
    left: 10%;
    right: 10%;
    bottom: 40px;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
}

@media (max-width: 768px) {
    .ReactModal__Content {
        top: 10px;'
        left: 10px;
        right: 10px;
        bottom: 10px;
    }
}
